@import "~react-image-gallery/styles/css/image-gallery.css";


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src:
    local('Raleway'),
    local('Raleway-Regular'),
    url(./fonts/Raleway-Regular.ttf) format('truetype');
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: #f7f7f7;
	display: flex;
  	overflow-x: auto;
  	white-space: nowrap;
 	padding: 10px;
}

heading {
  font-weight: 700;
}
subheading {
  font-weight: 400;
}

App {
  text-align: center;
}

App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo { 
  text-align: center;
  display: block;
}

a {
  color: #e08a8b;
}

.bio {
	margin: 16px 0;
	width: 350px;
	height: 400px;
	font-size: 28px;
}

.socialMedia {
	float: right;
}

.socialMedia a{
	display: inline-block;
	padding-right: 10px;
}

.slideshowContainer {
	display: block;
	margin-left: auto;
    margin-right: auto;
	width : 60%;
}
.agencies {
	text-align: center;
	display-inline: block;
	padding: 30px;
}

.agencies a {
	text-align: center;
	display-inline: block;
	padding: 30px;
}

h1, h2, p{
	text-align: center;
	font-weight: bold;
}

.highlights {
	display: flex;
	padding-top: 50px;
}
.funFacts {
	margin-left: 16px;
	margin-right: 16px;
	font-size: 16px;
}