@import "~react-image-gallery/styles/css/image-gallery.css";


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src:
    local('Raleway'),
    local('Raleway-Regular'),
    url(./fonts/Raleway-Regular.ttf) format('truetype');
}

.body {
	font-family: 'Raleway', sans-serif;
}

.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 400;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo { 
  text-align: center;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #e08a8b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bio {
	margin: 16px 0;
	width: 400px;
	height: 400px;
	font-size: 30px;
}

.socialMedia {
	float: right;
}

.socialMedia a{
	display: inline-block;
	padding-right: 10px;
}

.slideshowContainer {
	display: block;
	margin-left: auto;
    margin-right: auto;
	width : 60%;
}
.agencies {
	text-align: center;
	display-inline: block;
	padding: 30px;
}

.agencies a {
	text-align: center;
	display-inline: block;
	padding: 30px;
}

h1, h2, p{
	text-align: center;
}

.highlights {
	display: flex;
	padding-top: 50px;
}